body {
    background-color: #040402;
}

.pad {
    padding: 50px 0;
}

@media only screen and (max-width: 991px) {
    .pad {
        padding-bottom: 0;
    }
}

img {
    height: auto;
    max-width: 100%;
}

a, button {
    outline: none;
}

a:focus, button:focus {
    outline: none;
}

a:hover, button:hover {
    text-decoration: none;
}

.title {
    color: #fff;
    margin-bottom: 60px;
}

.title h3 {
    font-family: SF UI Display Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
}

.title p {
    font-size: 22px;
    font-family: SF UI Display Medium;
}

.title p span {
    color: #FF7A00;
}

@media only screen and (max-width: 1799px) {
    .title h3 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 1199px) {
    .title {
        margin-bottom: 40px;
    }
    .title h3 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 991px) {
    .title {
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .title h3 {
        font-size: 32px;
    }
    .title p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .title h3 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 576px) {
    .title {
        margin-bottom: 25px;
    }
    .title h3 {
        font-size: 24px;
    }
}

form input {
    font-family: SF UI Display Semibold;
    outline: none;
    width: 100%;
    background-color: rgba(247, 247, 247, 0.06);
    box-sizing: border-box;
    height: 54px;
    box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding-left: 15px;
    color: #fff;
    transition: .2s;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

form input:focus {
    transition: .2s;
    border-color: #FF7A00;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: SF UI Display Semibold;
    font-size: 16px;
}

form button {
    margin-top: 10px;
}

.form {
    display: flex;
}

.form input {
    margin-right: 20px;
}

@media only screen and (max-width: 1499px) {
    form input {
        font-size: 14px;
    }
    form input::placeholder {
        font-size: 14px;
    }
}

@media only screen and (max-width: 991px) {
    form input {
        font-size: 12px;
    }
    .form {
        flex-direction: column;
        align-items: center;
    }
    .form input {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 343px;
    }
    .form button {
        max-width: 343px;
    }
}

.slick-slider img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.slick-slider .slick-dots li.slick-active button::before {
    color: #FF7A00;
}

.slick-slider .slick-dots li button::before {
    font-size: 10px;
    color: #fff;
}

.slick-btn {
    position: absolute;
    z-index: 999;
    color: #fff;
    top: calc(100% + 8px);
}

.slick-btn::before {
    display: none;
}

.slick-btn i {
    color: #fff;
    font-size: 34px;
}

.slick-prev {
    left: 10%;
}

.slick-prev i {
    transform: rotate(-90deg);
}

.slick-next {
    right: 10%;
}

.slick-next i {
    transform: rotate(-90deg);
}

.content-btn {
    font-family: SF UI Display Semibold;
    color: #fff;
    width: 100%;
    height: 54px;
    font-size: 18px;
    background: #FF7A00;
    border: none;
    text-transform: uppercase;
    border-radius: 27px;
}

@media only screen and (max-width: 1199px) {
    .content-btn {
        font-size: 16px;
        height: 46px;
    }
}

@media only screen and (max-width: 576px) {
    .content-btn {
        font-size: 14px;
        height: 40px;
    }
}

@media only screen and (max-width: 499px) {
    .content-btn {
        font-size: 13px;
    }
}

.overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 2, 0.1);
    z-index: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: transparent;
}

.navbar .navbar-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 300px;
}

.navbar .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: SF UI Display Bold;
    font-size: 22px;
    line-height: 26px;
    transition: .2s;
    color: #fff;
}

.navbar .navbar-brand:hover {
    transition: .2s;
    color: rgba(255, 255, 255, 0.8);
}

.navbar .navbar-brand img[alt=logo] {
    height: auto;
    max-width: 132px;
}

.navbar .navbar-quick-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    margin-left: 65px;
}

.navbar .navbar-quick-contact span {
    font-family: SF UI Display Medium;
    font-size: 18px;
    line-height: 21px;
}

.navbar .navbar-quick-contact a {
    font-family: SF UI Display Bold;
    font-size: 22px;
    line-height: 26px;
    transition: .2s;
    color: #fff;
    white-space: nowrap;
}

.navbar .navbar-quick-contact a:hover {
    transition: .2s;
    color: rgba(255, 255, 255, 0.8);
}

.navbar .navbar-social-links {
    display: flex;
    align-items: center;
    margin-right: 300px;
}

.navbar .navbar-social-links a {
    margin-right: 30px;
    font-size: 24px;
    transition: .2s;
    color: #fff;
    font-family: SF UI Display Light;
}

.navbar .navbar-social-links a:last-child {
    margin-right: 0;
}

.navbar .navbar-social-links a:hover {
    transition: .2s;
    color: rgba(255, 255, 255, 0.8);
}

.navbar .nav-social-links {
    margin-top: 10px;
    padding-left: 5px;
}

.navbar .nav-social-links a {
    margin-right: 10px;
    font-size: 18px;
    transition: .2s;
    color: #fff;
}

.navbar .nav-social-links a:last-child {
    margin-right: 0;
}

.navbar .nav-social-links a:hover {
    transition: .2s;
    color: rgba(255, 255, 255, 0.8);
}

.navbar .navbar-toggler {
    outline: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-toggler .navbar-toggler-icon i {
    font-size: 24px;
    transition: .2s;
    color: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-toggler.collapsed {
    transition: .2s;
}

.navbar .navbar-toggler.collapsed .navbar-toggler-icon i {
    transition: .2s;
    color: rgba(255, 255, 255, 0.85);
}

.navbar .navbar-nav {
    margin-top: 20px;
}

.navbar .nav-link {
    display: inline-block;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-family: SF UI Display Light;
}

.navbar .nav-link:hover {
    background-color: rgba(255, 122, 0, 0.65);
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav.hidden {
        display: none;
    }
}

@media only screen and (max-width: 1799px) {
    .navbar .navbar-start {
        margin-left: 250px;
    }
    .navbar .navbar-social-links {
        margin-right: 250px;
    }
}

@media only screen and (max-width: 1599px) {
    .navbar .navbar-start {
        margin-left: 200px;
    }
    .navbar .navbar-social-links {
        margin-right: 200px;
    }
}

@media only screen and (max-width: 1499px) {
    .navbar .navbar-start {
        margin-left: 150px;
    }
    .navbar .navbar-social-links {
        margin-right: 150px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        background-color: #040402;
        box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.2);
    }
    .navbar .navbar-social-links {
        display: none;
    }
    .navbar .navbar-start {
        width: auto;
        margin-left: 0;
    }
    .navbar .navbar-brand {
        font-size: 16px;
        line-height: 20px;
    }
    .navbar .navbar-brand img[alt=logo] {
        max-width: 58px;
    }
    .navbar .navbar-quick-contact {
        margin-left: 15px;
    }
    .navbar .navbar-quick-contact span {
        font-size: 14px;
    }
    .navbar .navbar-quick-contact a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 575px) {
    .navbar .navbar-brand {
        font-size: 10px;
        line-height: auto;
    }
    .navbar .navbar-brand img[alt=logo] {
        max-width: 50px;
    }
    .navbar .navbar-quick-contact {
        margin-left: 10px;
    }
    .navbar .navbar-quick-contact span {
        font-size: 11px;
    }
    .navbar .navbar-quick-contact a {
        font-size: 13px;
    }
}

.main-scroll {
    position: relative;
    min-height: 100vh;
    background-image: url("../img/Bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 50px;
}

.main-scroll .form-content {
    position: relative;
    z-index: 1;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.main-scroll .form-content .offer {
    font-family: SF UI Display Light;
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
}

.main-scroll .form-content .offer span {
    text-transform: uppercase;
    color: #FF7A00;
    font-family: SF UI Display Bold;
}

.main-scroll .form-content form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
}

.main-scroll .form-content form input {
    margin-right: 10px;
}

.main-scroll .advantages {
    display: flex;
    align-items: center;
}

.main-scroll .advantages .adv-card {
    width: 100%;
    padding: 10px;
    background: rgba(14, 14, 14, 0.34);
    border-radius: 55px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-scroll .advantages .adv-card:last-child {
    margin-right: 0;
}

.main-scroll .advantages .adv-card .card-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #FF7A00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.main-scroll .advantages .adv-card img {
    height: 25px;
    width: 25px;
}

.main-scroll .advantages .adv-card .card-text {
    font-family: SF UI Display Light;
    font-size: 16px;
    color: #fff;
}

.main-scroll .content {
    position: relative;
    z-index: 1;
    margin-left: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-scroll .content .content-menu a {
    font-family: SF UI Display Light;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 52px;
    padding-right: calc(16px + 300px);
    font-size: 18px;
    height: 46px;
    line-height: 21px;
    color: #fff;
    transition: .2s;
}

.main-scroll .content .content-menu a:hover {
    transition: .2s;
    background-color: rgba(255, 122, 0, 0.65);
}

.main-scroll .content .content-text {
    width: 100%;
}

.main-scroll .content .content-text hr {
    margin-top: 80px;
    margin-bottom: 40px;
    border-color: rgba(196, 196, 196, 0.24);
}

.main-scroll h1 {
    display: inline-block;
    text-transform: uppercase;
    font-family: SF UI Display Black;
    font-size: 78px;
    color: #fff;
    text-shadow: 0px 20px 12px rgba(0, 0, 0, 0.02);
    margin-top: -13px;
}

.main-scroll h2 {
    font-family: SF UI Display Light;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
}

.main-scroll h2 span {
    color: #FF7A00;
    font-family: SF UI Display Black;
}

@media only screen and (max-width: 1799px) {
    .main-scroll .content .content-menu a {
        padding-right: calc(16px + 250px);
        font-size: 16px;
        height: 40px;
    }
    .main-scroll .advantages .card-text {
        font-size: 14px;
    }
    .main-scroll h1 {
        font-size: 60px;
    }
    .main-scroll h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1599px) {
    .main-scroll .content .content-menu a {
        padding-right: calc(16px + 200px);
    }
}

@media only screen and (max-width: 1499px) {
    .main-scroll .form-content .offer {
        font-size: 20px;
    }
    .main-scroll .content .content-menu a {
        padding-right: calc(16px + 150px);
    }
}

@media only screen and (max-width: 1199px) {
    .main-scroll {
        padding-top: 180px;
    }
    .main-scroll .content .content-menu a {
        padding-left: 32px;
    }
    .main-scroll .form-content .offer br {
        display: none;
    }
    .main-scroll .form-content .card-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 991px) {
    .main-scroll {
        padding-top: 175px;
        background-position: right;
    }
    .main-scroll .advantages {
        flex-direction: column;
    }
    .main-scroll .advantages .adv-card {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .main-scroll .advantages .adv-card:last-child {
        margin-bottom: 0;
    }
    .main-scroll .content {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .main-scroll .content .content-menu {
        display: none;
    }
    .main-scroll .content .content-text hr {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .main-scroll h1 {
        font-size: 45px;
        display: block;
        text-align: center;
    }
    .main-scroll h2 {
        display: block;
        text-align: center;
        font-size: 30px;
    }
    .main-scroll .form-content {
        max-width: 50%;
    }
    .main-scroll .form-content .offer {
        text-align: center;
    }
    .main-scroll .form-content form {
        display: flex;
        flex-direction: column;
    }
    .main-scroll .form-content form input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .main-scroll {
        padding-top: 160px;
    }
    .main-scroll .form-content {
        max-width: 60%;
    }
    .main-scroll h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 565px) {
    .main-scroll {
        padding-top: 140px;
    }
    .main-scroll .content .content-text {
        max-width: 90%;
    }
    .main-scroll .form-content {
        max-width: 70%;
    }
    .main-scroll h1 {
        font-size: 35px;
    }
}

.check-auto .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.check-auto .list span:last-child {
    font-weight: bold;
    color: #FF7A00;
    font-size: 19px;
}

.check-auto .cats {
    margin: 0 auto;
}

.check-auto .check-auto-card {
    position: relative;
    padding: 15px;
}

.check-auto .check-auto-card .inner {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.check-auto .check-auto-card .inner .auto-card-detail {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(255, 122, 0, 0.95);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}

.check-auto .check-auto-card .inner .auto-card-detail .content-btn {
    font-family: SF UI Display Bold;
    border: 2px solid #fff;
    margin-top: 15px;
    height: 46px;
}

.check-auto .check-auto-card .inner .auto-card-detail .title {
    position: relative;
    margin: 0;
    padding-bottom: 10px;
}

.check-auto .check-auto-card .inner .auto-card-detail h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
}

.check-auto .check-auto-card .inner .auto-card-detail .list {
    padding: 0;
    margin-bottom: 10px;
}

.check-auto .check-auto-card .inner .auto-card-detail .list span {
    font-family: SF UI Display Light;
    font-size: 16px;
}

.check-auto .check-auto-card .inner .auto-card-detail .list span:last-child {
    color: #fff;
}

.check-auto .check-auto-card .inner .auto-card-detail .list.ec {
    margin-top: 20px;
    margin-bottom: 0;
}

.check-auto .check-auto-card .inner .auto-card-detail .list.ec span {
    font-size: 22px;
    text-transform: uppercase;
}

.check-auto .check-auto-card .inner .auto-card-detail .list.ec span:last-child {
    font-family: SF UI Display Bold;
}

.check-auto .check-auto-card .top:hover .auto-card-detail {
    visibility: visible;
}

.check-auto .check-auto-card .top {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.check-auto .check-auto-card .top .top-img {
    position: relative;
    width: 100%;
}

.check-auto .check-auto-card .top .title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: SF UI Display Semibold;
    margin: 2%;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
}

.check-auto .check-auto-card .top .title span {
    display: block;
    font-weight: 300;
    color: #FF7A00;
    font-family: SF UI Display Light;
}

.check-auto .check-auto-card .bottom {
    padding: 25px;
}

.check-auto .check-auto-card .bottom button {
    height: 46px;
    margin-top: 15px;
}

@media only screen and (max-width: 1199px) {
    .check-auto .list {
        font-size: 16px;
    }
    .check-auto .list span:last-child {
        font-size: 17px;
    }
    .check-auto .check-auto-card .top .title {
        font-size: 20px;
    }
    .check-auto .check-auto-card .bottom {
        padding: 15px;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .title {
        text-align: left;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .title h3 {
        font-size: 18px;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .list {
        margin-bottom: 5px;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .list span {
        font-size: 14px;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .list.ec span {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .check-auto .cats {
        max-width: 70%;
    }
}

@media only screen and (max-width: 576px) {
    .check-auto .check-auto-card .inner .auto-card-detail .title h3 {
        font-size: 16px;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .list.ec span {
        font-size: 15px;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .list span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 499px) {
    .check-auto .cats {
        max-width: 80%;
    }
    .check-auto .check-auto-card .auto-card-detail .list.ec {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 399px) {
    .check-auto .cats {
        max-width: 98%;
    }
    .check-auto .check-auto-card .inner .auto-card-detail .list.ec {
        margin-top: 8px;
    }
}

.detroit .content {
    margin: 0 auto;
}

.detroit .content .content-text {
    color: #fff;
    font-family: SF UI Display Light;
}

.detroit .content .text-cards {
    margin-top: 45px;
}

.detroit .content .text-cards p {
    max-width: 232px;
    color: #fff;
}

.detroit .content .text-cards span {
    font-size: 42px;
    font-family: SF UI Display Bold;
    display: block;
}

@media only screen and (max-width: 576px) {
    .detroit .content .text-cards, .detroit .content .detroit-slider, .detroit .content .content-text {
        padding: 10px;
    }
    .detroit .content .text-cards span, .detroit .content .detroit-slider span, .detroit .content .content-text span {
        font-size: 32px;
    }
    .detroit .content .text-cards p, .detroit .content .detroit-slider p, .detroit .content .content-text p {
        font-size: 14px;
    }
}

.slick-slider-2 .slick-dots {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.slick-slider-2 .slick-next {
    right: 13px;
}

.slick-slider-2 .slick-prev {
    left: auto;
    right: 148px;
}

.you-can .can-card .can-text {
    font-family: SF UI Display Light;
    padding: 30px;
    color: #fff;
}

.you-can .can-card .can-active {
    padding: 0 30px;
}

.you-can .can-card .can-active button {
    max-width: 315px;
    margin-top: 10px;
}

.you-can .can-card .can-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.you-can .can-card .can-img .title {
    font-family: SF UI Display Bold;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0;
    text-align: left;
    font-size: 28px;
    text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
    .you-can .can-card {
        margin-bottom: 40px;
    }
    .you-can .can-card .can-text {
        padding: 30px 15px;
    }
    .you-can .can-card .can-active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .you-can .can-card .can-img .title {
        left: 15px;
        bottom: 15px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 567px) {
    .you-can .can-card {
        padding: 10px;
    }
    .you-can .can-card .can-text {
        padding: 10px 5px;
        font-size: 14px;
    }
    .you-can .can-card .can-img .title {
        left: 5px;
        bottom: 5px;
        font-size: 20px;
    }
}

.marks .mrks {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.marks .mrks .mark-card {
    color: #fff;
    max-width: 190px;
    padding: 10px;
    text-align: center;
}

.marks .mrks .mark-card h4 {
    margin-top: 20px;
    font-size: 19px;
}

@media only screen and (max-width: 1199px) {
    .marks .mrks {
        justify-content: center;
    }
    .marks .mrks .mark-card {
        margin-bottom: 20px;
    }
}

.thought {
    background-position: right bottom;
    background-repeat: no-repeat;
}

.thought .thught-text {
    margin-bottom: 40px;
}

.thought .thught-text p {
    font-family: SF UI Display Light;
    color: #fff;
    margin-bottom: 20px;
}

.thought .thught-text p span {
    color: #FF7A00;
    font-family: SF UI Display Medium;
}

.thought form {
    flex-direction: column;
}

.thought form input {
    margin: 0;
    margin-bottom: 10px;
    max-width: 343px;
}

.thought form button {
    max-width: 343px;
}

.thought .form-title {
    text-align: left;
    font-family: SF UI Display Medium;
}

@media only screen and (max-width: 991px) {
    .thought {
        background: none !important;
    }
    .thought .man {
        display: none;
    }
    .thought .form-title {
        text-align: center;
    }
}

.questions .title {
    margin: 10px;
    margin-left: 0;
}

.why .advs .adv-card {
    background-color: #1B1B1B;
    border-radius: 55px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.why .advs .adv-card .card-img {
    display: contents;
}

.why .advs .adv-card img {
    height: auto;
    width: 100%;
    max-width: 71px;
}

.why .advs .adv-card .card-text {
    font-family: SF UI Display Light;
    font-size: 20px;
    color: #fff;
    margin-left: 15px;
}

@media only screen and (max-width: 1199px) {
    .why .advs .adv-card .card-text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 991px) {
    .why .advs .adv-card .card-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    .why .advs .adv-card .card-text {
        font-size: 14px;
    }
}

.clients {
    background-image: url("../img/Layer.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.clients .card {
    background: #040402;
    border: 2px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 20px;
    border-radius: 0;
    min-height: 80px;
}

.clients .card .card-header {
    padding: 25px;
}

.clients .card .btn-link {
    font-family: SF UI Display Bold;
    font-size: 22px;
    transition: .2s;
    color: #FF7A00;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.clients .card .btn-link:focus {
    text-decoration: none;
}

.clients .card .btn-link .fa-minus {
    display: inline-block;
}

.clients .card .btn-link .fa-plus {
    display: none;
    transition: .2s;
    color: #fff;
}

.clients .card .btn-link.collapsed {
    transition: .2s;
    color: #fff;
}

.clients .card .btn-link.collapsed .fa-minus {
    display: none;
    transition: .2s;
    color: #FF7A00;
}

.clients .card .btn-link.collapsed .fa-plus {
    display: inline-block;
}

.clients .card .btn-link:focus {
    text-decoration: none;
}

.clients .card .card-body {
    padding: 37px;
    padding-top: 0;
    color: #fff;
    font-family: SF UI Display Light;
}

@media only screen and (max-width: 1499px) {
    .clients .card .btn-link {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1199px) {
    .clients .card .btn-link {
        font-size: 19px;
    }
    .clients .card .card-header {
        padding: 20px;
    }
    .clients .card .card-body {
        padding: 32px;
        padding-top: 0;
    }
}

@media only screen and (max-width: 991px) {
    .clients .card {
        min-height: 65px;
    }
    .clients .card .btn-link {
        font-size: 16px;
    }
    .clients .card .card-header {
        padding: 13px;
    }
    .clients .card .card-body {
        padding: 25px;
        padding-top: 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .clients .card .btn-link {
        font-size: 14px;
    }
    .clients .card .btn-link span {
        max-width: 85%;
    }
    .clients .card .card-header {
        padding: 3px;
    }
    .clients .card .card-body {
        padding: 15px;
        padding-top: 0;
        font-size: 12px;
    }
}

/*# sourceMappingURL=main.css.map */