$black: #040402
$white: #fff
$orange: #FF7A00
$orang-opacity: rgba(255, 122, 0, 0.65)
$overlay-black: rgba($black, .1)
$mar: calc(16px + 300px)
$mar-proc: 300px
$mar-1799: calc(16px + 250px)
$mar-proc-1799: 250px
$mar-1599: calc(16px + 200px)
$mar-proc-1599: 200px
$mar-1499: calc(16px + 150px)
$mar-proc-1499: 150px

$mwBig: 70%
$mwSmall: 15%

body
  background-color: $black

.pad
  padding: 50px 0

@media only screen and (max-width: 991px)
  .pad
    padding-bottom: 0
  


img
  height: auto
  max-width: 100%

a, button
  outline: none

  &:focus
    outline: none

  &:hover
    text-decoration: none


// content

.content

  


.title
  //margin-left: $mwSmall
  color: $white
  margin-bottom: 60px

  h3
    font-family: SF UI Display Medium
    font-style: normal
    font-weight: bold
    font-size: 42px
    text-transform: uppercase

  p
    font-size: 22px
    font-family: SF UI Display Medium

    span
      color: $orange

@media only screen and (max-width: 1799px)
  .title
    //max-width: 70%

    h3
      font-size: 38px

@media only screen and (max-width: 1199px)
  .title
    margin-bottom: 40px

    h3
      font-size: 32px

@media only screen and (max-width: 991px)
  .title
    margin: 0 auto
    margin-bottom: 40px
    text-align: center

    h3
      font-size: 32px

    p
      font-size: 20px

@media only screen and (max-width: 767px)
  .title

    h3
      font-size: 28px

@media only screen and (max-width: 576px)
  .title
    margin-bottom: 25px

    h3
      font-size: 24px

// Form start

form

  input
    font-family: SF UI Display Semibold
    outline: none
    width: 100%
    background-color: rgba(247, 247, 247, 0.06)
    box-sizing: border-box
    height: 54px
    box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.02)
    border-radius: 2px
    padding-left: 15px
    color: $white
    transition: .2s
    border: 2px solid rgba(255, 255, 255, 0.4)

    &:focus
      transition: .2s
      border-color: $orange

    &::placeholder
      color: rgba($white, .7)
      font-family: SF UI Display Semibold
      font-size: 16px

.form
  display: flex
  
  input
    margin-right: 20px

@media only screen and (max-width: 1499px)
  form

    input
      font-size: 14px

      &::placeholder
        font-size: 14px

@media only screen and (max-width: 991px)
  form

    input
      font-size: 12px

  .form
    flex-direction: column
    align-items: center

    input
      margin-right: 0
      margin-bottom: 10px
      max-width: 343px

    button
      max-width: 343px



// Form end

// SLICK start

.slick-slider

  img
    height: auto
    width: 100%
    max-width: 100%

  .slick-dots

    li

      &.slick-active

        button

          &::before
            color: $orange

      button

        &::before
          font-size: 10px
          color: $white

.slick-btn
  position: absolute
  z-index: 999
  color: $white
  top: calc(100% + 8px)
  
  &::before
    display: none

  i
    color: $white
    font-size: 34px

.slick-prev
  left: 10%

  i
    transform: rotate(-90deg)


.slick-next
  right: 10%

  i
    transform: rotate(-90deg)
  

// SLICK end


.content-btn
  font-family: SF UI Display Semibold
  color: $white
  width: 100%
  height: 54px
  font-size: 16px
  background: $orange
  border: none
  text-transform: uppercase
  border-radius: 27px

@media only screen and (max-width: 1799px)
  .content-btn
    font-size: 14px

@media only screen and (max-width: 1199px)
  .content-btn
    font-size: 12px

    
.overlay-bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: $overlay-black
  z-index: 0

// navbar start
.navbar
  position: fixed
  width: 100%
  z-index: 9999
  background-color: transparent

  .navbar-start
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%
    margin-left: $mar-proc

  .navbar-brand
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-family: SF UI Display Bold
    font-size: 22px
    line-height: 26px
    transition: .2s
    color: $white 

    &:hover
      transition: .2s
      color: rgba($white, .8)

    img[alt=logo]
      height: auto
      max-width: 132px

  .navbar-quick-contact
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    color: $white
    margin-left: 65px

    span
      font-family: SF UI Display Medium
      font-size: 18px
      line-height: 21px

    a
      font-family: SF UI Display Bold
      font-size: 22px
      line-height: 26px
      transition: .2s
      color: $white 
      white-space: nowrap

      &:hover
        transition: .2s
        color: rgba($white, .8)

  .navbar-social-links
    display: flex
    align-items: center
    margin-right: $mar-proc

    a
      margin-right: 30px
      font-size: 24px
      transition: .2s
      color: $white

      &:last-child
        margin-right: 0

      &:hover
        transition: .2s
        color: rgba($white, .8)

  .nav-social-links
    margin-top: 10px
    padding-left: 5px

    a
      margin-right: 10px
      font-size: 18px
      transition: .2s
      color: $white

      &:last-child
        margin-right: 0

      &:hover
        transition: .2s
        color: rgba($white, .8)

  .navbar-toggler
    outline: none

    .navbar-toggler-icon
      display: flex
      align-items: center
      justify-content: center

      i
        font-size: 24px
        transition: .2s
        color: rgba($white, .5)

    &.collapsed
      transition: .2s

      .navbar-toggler-icon

        i
          transition: .2s
          color: rgba($white, .85)
      
  .navbar-nav
    margin-top: 20px

  .nav-link
    display: inline-block
    color: $white
    padding-left: 5px
    padding-right: 5px

    &:hover 
      background-color: $orang-opacity

@media only screen and (min-width: 992px)
  .navbar

    .navbar-nav

      &.hidden
        display: none

@media only screen and (max-width: 1799px)
  .navbar

    .navbar-start
      margin-left: $mar-proc-1799

    .navbar-social-links
      margin-right: $mar-proc-1799

@media only screen and (max-width: 1599px)
  .navbar

    .navbar-start
      margin-left: $mar-proc-1599

    .navbar-social-links
      margin-right: $mar-proc-1599

@media only screen and (max-width: 1599px)
  .navbar

    .navbar-start
      margin-left: $mar-proc-1499

    .navbar-social-links
      margin-right: $mar-proc-1499

@media only screen and (max-width: 991px)
  .navbar
    background-color: $black
    box-shadow: 0 2px 5px 0 rgba(255,255,255,.2)

    .navbar-social-links
      display: none

    .navbar-start
      width: auto
      margin-left: 0

    .navbar-brand
      font-size: 16px
      line-height: 20px

      img[alt=logo]
        max-width: 58px

    .navbar-quick-contact
      margin-left: 15px

      span
        font-size: 14px

      a
        font-size: 16px

@media only screen and (max-width: 575px)
  .navbar

    .navbar-brand
      font-size: 10px
      line-height: auto

      img[alt=logo]
        max-width: 50px

    .navbar-quick-contact
      margin-left: 10px

      span
        font-size: 11px

      a
        font-size: 13px
// navbar end
  

// main-scroll start
.main-scroll
  position: relative
  min-height: 100vh
  background-image: url('../img/Bg.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat 
  padding-top: 200px
  padding-bottom: 50px

  .form-content
    position: relative
    z-index: 1
    max-width: $mwBig
    margin-left: auto
    margin-right: auto

    .offer
      color: $white
      font-size: 22px
      margin-bottom: 40px

      span
        text-transform: uppercase
        color: $orange
        font-family: SF UI Display Bold

    form
      display: flex
      align-items: center
      justify-content: flex-start
      width: 100%
      margin-bottom: 40px

      input
        margin-right: 10px

  .advantages
    display: flex
    align-items: center

    .adv-card
      width: 100%
      padding: 10px
      background: rgba(14, 14, 14, 0.34)
      border-radius: 55px
      margin-right: 10px
      display: flex
      align-items: center
      justify-content: flex-start

      &:last-child
        margin-right: 0

      .card-img
        height: 50px
        width: 50px
        border-radius: 100%
        background-color: $orange
        display: flex
        align-items: center
        justify-content: center
        margin-right: 10px

      img
        height: 25px
        width: 25px

      .card-text
        font-family: SF UI Display Light
        font-size: 16px
        color: $white


  .content
    position: relative
    z-index: 1
    margin-left: $mwSmall
    display: flex
    align-items: flex-start
    justify-content: space-between

    .content-menu
      
      a
        display: flex
        align-items: center
        justify-content: flex-end
        padding-left: 52px
        padding-right: $mar
        font-size: 18px
        height: 46px
        line-height: 21px
        color: $white
        transition: .2s

        &:hover
          transition: .2s
          background-color: $orang-opacity

    .content-text
      width: 100%

      hr
        margin-top: 40px
        margin-bottom: 40px
        border-color: rgba(196, 196, 196, 0.24)


  h1
    display: inline-block
    text-transform: uppercase
    font-family: SF UI Display Bold
    font-size: 80px
    color: $white
    text-shadow: 0px 20px 12px rgba(0, 0, 0, 0.02)

  h2
    font-family: SF UI Display Light
    font-weight: normal
    font-size: 40px
    line-height: 48px
    text-transform: uppercase
    color: white

    span
      color: $orange
      font-family: SF UI Display Black

@media only screen and (max-width: 1799px)
  .main-scroll

    .content

      .content-menu
        
        a
          padding-right: $mar-1799
          font-size: 16px
          height: 40px

    .advantages

      .card-text
        font-size: 14px

    h1
      font-size: 60px

    h2
      font-size: 35px

@media only screen and (max-width: 1599px)
  .main-scroll

    .content

      .content-menu
        
        a
          padding-right: $mar-1599

@media only screen and (max-width: 1499px)
  .main-scroll

    .form-content

      .offer
        font-size: 20px

    .content

      .content-menu
        
        a
          padding-right: $mar-1499

@media only screen and (max-width: 1199px)
  .main-scroll
    padding-top: 180px

    .content

      .content-menu

        a
          padding-left: 32px

    .form-content

      .offer
        
        br
          display: none

      .card-text
        font-size: 12px

@media only screen and (max-width: 991px)
  .main-scroll
    padding-top: 175px

    .advantages
      flex-direction: column

      .adv-card
        margin-right: 0
        margin-bottom: 10px

        &:last-child
          margin-bottom: 0

    .content
      margin-left: 0
      flex-direction: column
      align-items: center

      .content-menu
        display: none

    h1
      font-size: 45px
      display: block
      text-align: center

    h2
      display: block
      text-align: center
      font-size: 30px

    .form-content
      max-width: 50%

      .offer
        text-align: center

      form
        display: flex
        flex-direction: column

        input
          margin-right: 0
          margin-bottom: 10px

@media only screen and (max-width: 767px)
  .main-scroll
    padding-top: 160px

    .form-content
      max-width: 60%

    h1
      font-size: 40px

@media only screen and (max-width: 565px)
  .main-scroll
    padding-top: 140px

    .content

      .content-text
        max-width: 90%

    .form-content
      max-width: 70%

    h1
      font-size: 35px
    
// main-scroll end

// CHECK AUTO

.check-auto
        
  .list
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 5px
    font-size: 18px
    line-height: 21px
    color: $white

    span

      &:last-child
        font-weight: bold
        color: $orange
        font-size: 19px

  .cats
    margin: 0 auto

    .slick-slider

  .check-auto-card
    position: relative
    padding: 15px

    .inner
      position: relative
      border: 1px solid rgba(255,255,255,.1)          

      .auto-card-detail
        position: absolute
        z-index: 1
        left: -10px
        top: -10px
        right: -10px
        bottom: -10px
        background-color: rgba(255, 122, 0, 0.95)
        border-radius: 15px
        padding: 15px 20px
        display: flex
        flex-direction: column
        justify-content: space-between
        visibility: hidden

        .content-btn
          font-family: SF UI Display Bold
          border: 2px solid $white
          margin-top: 15px

        .title
          position: relative
          margin-left: 0
          margin-bottom: 15px

        h3
          font-size: 24px
          text-transform: uppercase

        .list
          padding: 0
          margin-bottom: 10px

          span
            font-family: SF UI Display Light
            font-size: 16px
            
            &:last-child
              color: $white
          
          &.ec
            margin-top: 20px
            margin-bottom: 0

            span
              font-size: 22px
              text-transform: uppercase

              &:last-child
                font-family: SF UI Display Bold

    .top

      &:hover

        .auto-card-detail
          visibility: visible

    .top
      //height: 270px
      background-size: cover
      background-repeat: no-repeat
      display: flex
      align-items: flex-end

      .top-img
        position: relative
        width: 100%

      .title
        position: absolute
        bottom: 0
        left: 0
        font-family: SF UI Display Semibold
        margin: 2%
        font-size: 
        font-size: 24px
        text-transform: uppercase

        span
          display: block
          font-weight: 300
          font-size: 22px
          line-height: 26px
          color: $orange
          font-family: SF UI Display Light
          padding-top: 10px
      

    .bottom
      padding: 25px

      button
        height: 46px
        margin-top: 15px

@media only screen and (min-width: 1600px)
  .check-auto
    
    .check-auto-card
      
      .top
        //height: 220px

@media only screen and (max-width: 1599px)
  .check-auto
    
    .check-auto-card
      
      .top
        //height: 220px

      .inner

        .auto-card-detail

          .content-btn

          .title
            margin: 0
            margin-bottom: 10px

            h3
              font-size: 22px
              margin: 0

  .check-auto .check-auto-card .inner .auto-card-detail .list.ec
    margin-top: 10px

  .check-auto .check-auto-card .inner .auto-card-detail
    padding: 45px

@media only screen and (max-width: 1199px)
  .check-auto .check-auto-card .top .title
    text-align: left

  .check-auto .check-auto-card .inner .auto-card-detail
    padding: 5% 7%

@media only screen and (max-width: 991px)
  .check-auto .check-auto-card .inner .auto-card-detail .title
    margin-left: 0
    text-align: left

  .check-auto .check-auto-card .top .title
    text-align: left
    font-size: 24px

  .check-auto .list
    font-size: 16px

  .check-auto .list span:last-child
    font-size: 17px

  .check-auto .check-auto-card .inner .auto-card-detail
    padding: 45px


@media only screen and (max-width: 767px)
  .check-auto .check-auto-card .inner .auto-card-detail
    padding: 35px

@media only screen and (max-width: 576px)
  .check-auto .check-auto-card .inner .auto-card-detail
    padding: 5% 7%

  .check-auto .check-auto-card .inner .auto-card-detail .content-btn
    height: 35px

  .check-auto .check-auto-card .inner .auto-card-detail .list
    margin-bottom: 5px

  .check-auto .check-auto-card .inner .auto-card-detail .list span
    font-size: 12px

  .check-auto .check-auto-card .inner .auto-card-detail .list.ec span
    font-size: 18px

  .check-auto .list
    font-size: 14px

  .check-auto .list span:last-child
    font-size: 15px

  .check-auto .check-auto-card .bottom
    padding: 18px

  .check-auto .check-auto-card .bottom button 
    height: 35px

  .check-auto .check-auto-card .top .title
    font-size: 20px

  .check-auto .check-auto-card .inner .auto-card-detail .title
    margin-bottom: 0

  .check-auto .check-auto-card .top .title span
    padding-top: 0

  .check-auto .check-auto-card .inner .auto-card-detail .title h3
    font-size: 16px

  .check-auto .check-auto-card .inner .auto-card-detail .list.ec
    margin-top: 0

  .check-auto .check-auto-card .inner .auto-card-detail .list.ec span
    font-size: 15px
  
  .check-auto .check-auto-card .inner .auto-card-detail .content-btn
    margin-top: 0

  .check-auto .check-auto-card .inner .auto-card-detail .list
    margin: 0

  .check-auto .check-auto-card .top .title
    font-size: 16px
    line-height: normal
    span
      font-size: 17px

@media only screen and (max-width: 349px)
  .check-auto .check-auto-card .inner .auto-card-detail .content-btn
    height: 30px

.detroit

  .content
    margin: 0 auto

    .content-text
      color: $white
      font-family: SF UI Display Light

    .text-cards
      margin-top: 45px 

      p
        max-width: 232px
        color: $white

      span
        font-size: 42px
        font-family: SF UI Display Bold
        display: block

.slick-slider-2

  .slick-dots
    display: flex
    justify-content: flex-end
    padding-right: 60px

  .slick-next
    right: 35px

  .slick-prev
    left: auto
    right: 185px

.you-can

  .can-card

    .can-text
      padding: 30px
      color: $white

    .can-active
      padding: 0 30px

      button
        max-width: 315px
      

    .can-img
      position: relative
      display: flex
      align-items: center
      justify-content: center

      .title
        font-family: SF UI Display Bold
        position: absolute
        bottom: 30px
        left: 30px
        margin: 0
        text-align: left
        font-size: 28px
        text-transform: uppercase

@media only screen and (max-width: 991px)
  .you-can

    .can-card
      margin-bottom: 40px

      .can-text
        padding: 30px 15px

      .can-active
        display: flex
        align-items: center
        justify-content: center
      

      .can-img

        .title
          left: 15px
          bottom: 15px
          font-size: 24px

@media only screen and (max-width: 567px)
  .you-can

    .can-card

      .can-text
        padding: 10px 5px
        font-size: 14px
      
      .can-img

        .title
          left: 5px
          bottom: 5px
          font-size: 20px

.marks 

  .mrks
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap

    .mark-card
      color: $white
      max-width: 190px
      padding: 10px
      text-align: center

      h4
        margin-top: 20px
        font-size: 19px

@media only screen and (max-width: 1199px)
  .marks 

    .mrks
      justify-content: center

      .mark-card
        margin-bottom: 20px


.thought
  background-position: right bottom
  background-repeat: no-repeat

  .thught-text
    margin-bottom: 40px

    p
      color: $white
      margin-bottom: 20px
      
      span
        color: $orange
        font-family: SF UI Display Medium

  form
    flex-direction: column

    input
      margin: 0
      margin-bottom: 10px
      max-width: 343px

    button
      max-width: 343px

  .form-title
    text-align: left

@media only screen and (max-width: 991px)
  .thought
    background: none!important

    .man
      display: none

    .form-title
      text-align: center

  
.questions

  .title
    margin: 10px
    margin-left: 0

.why

  .advs

    .adv-card
      background-color: #1B1B1B
      border-radius: 55px
      padding: 15px
      display: flex
      align-items: center
      margin-bottom: 20px

      .card-img
        display: contents

      img
        height: auto
        width: 100%
        max-width: 71px

      .card-text
        font-family: SF UI Display Light
        font-size: 20px
        color: $white
        margin-left: 15px

@media only screen and (max-width: 1199px)
  .why

    .advs

      .adv-card

        .card-text
          font-size: 18px

@media only screen and (max-width: 991px)
  .why

    .advs

      .adv-card

        .card-text
          font-size: 16px

@media only screen and (max-width: 576px)
  .why

    .advs

      .adv-card

        .card-text
          font-size: 14px


.clients

  .card
    background: $black
    border: 2px solid rgba(255,255,255,.15)
    margin-bottom: 20px
    border-radius: 0

    .card-header
      padding: 25px

    .btn-link
      font-family: SF UI Display Bold
      font-size: 22px
      transition: .2s
      color: $orange
      outline: none
      text-decoration: none
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      text-align: left

      &:focus
        text-decoration: none

      .fa-minus
        display: inline-block

      .fa-plus
        display: none
        transition: .2s
        color: $white

      &.collapsed
        transition: .2s
        color: $white

        .fa-minus
          display: none
          transition: .2s
          color: $orange

        .fa-plus
          display: inline-block

      &:focus
        text-decoration: none

    .card-body
      padding: 37px
      padding-top: 0
      color: $white


@media only screen and ( max-width: 1499px )
  .clients

    .card

      .btn-link
        font-size: 20px

@media only screen and ( max-width: 1199px )
  .clients

    .card

      .btn-link
        font-size: 19px

      .card-header
        padding: 20px

      .card-body
        padding: 32px
        padding-top: 0

@media only screen and ( max-width: 991px )
  .clients

    .card

      .btn-link
        font-size: 16px

      .card-header
        padding: 13px

      .card-body
        padding: 25px
        padding-top: 0
        font-size: 14px

@media only screen and ( max-width: 767px )
  .clients

    .card

      .btn-link
        font-size: 14px

        span
          max-width: 85%

      .card-header
        padding: 3px

      .card-body
        padding: 15px
        padding-top: 0
        font-size: 12px
    

  
  

  








