@font-face {
  font-family: robotoBlack;
  src: url(../assets/fonts/roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: robotoBlackItalic;
  src: url(../assets/fonts/roboto/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: robotoBoldItalic;
  src: url(../assets/fonts/roboto/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: robotoItalic;
  src: url(../assets/fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: robotoLight;
  src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: robotoLightItalic;
  src: url(../assets/fonts/roboto/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: robotoMedium;
  src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: robotoMediumItalic;
  src: url(../assets/fonts/roboto/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: robotoRegular;
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoThin;
  src: url(../assets/fonts/roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: robotoThinItalic;
  src: url(../assets/fonts/roboto/Roboto-ThinItalic.ttf);
}

$black: #31312D;
$yellow: #E2E100;
$white: white;
$gray: #909090;

$br: .25rem;
$bs: 0 0 5px 2px rgba($black, .1);

p, label {
  font-family: robotoLight;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: robotoBold;
  font-size: 60px;
}

h2 {
  font-family: robotoBold;
  font-size: 30px;
}

h3 {
  font-family: robotoLight;
  font-size: 22px;
}

h4 {
  font-family: robotoMedium;
  font-size: 19px;
}

input.form-control {
  font-family: robotoLight;
  color: $black;
  border: 2px solid $gray !important;
  padding: 25px 10px;
  font-size: 18px;
}

button.btn {
  font-family: robotoMedium;
  padding: 17px 40px !important;
  border: 2px solid $gray !important;
  background-color: $black !important;
  color: $white !important;
  &:hover {
    transition: .15s;
    background-color: rgba($black,.5) !important;
  }
}

// NAVBAR
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: $bs;
  background-color: black;
  min-height: 82px;
  z-index: 999;
  .navbar-brand {
    img {
      width: 100%;
      max-width: 212px;
    }
  }
  .navbar-toggler {
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    .navbar-toggler-line {
      width: 25px;
      height: .15em;
      background-color: $black;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .navbar-nav {
    .nav-item {
      font-family: robotoMedium;
      .nav-link {
        transition: .2s;
        color: $white;
      }
      &:hover {
        .nav-link {
          transition: .2s;
          color: rgba($white, .7)
        }
      }
    }
  }
  .navbar-contacts {
    font-family: robotoMedium;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $white;
    a {
      color: $white;
    }
    .navbar-contacts-tel {
      display: flex;
      align-items: center;
      a {
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .navbar-contacts-places {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    i {
      margin-right: 5px;
      color: $white;
      font-size: 14px;
    }
  }
}
@media (min-width: 992px) {
  .navbar {
    .navbar-toggler {
      display: none;
    }
  }
}
@media (max-width: 991px) {
  .navbar {
    .navbar-contacts {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
// NAVBAR
// NAVTABS
.nav-tabs {
  justify-content: center;
  border-bottom: 0;
  .nav-item {
    width: 300px;
    text-align: center;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-link {
    font-family: robotoMedium;
    font-size: 18px;
    color: $white;
    &:hover {
    }
    &.active {
    }
  }
}
// NAVTABS
// SLICK
.slider {
  img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .slick-dots {
    li {
      &.slick-active {
        button {
          &::before {
            color: $yellow;
          }
        }
      }

      button {
        &::before {
          font-size: 10px;
          color: $black;
        }
      }
    }
  }

  .slick-btn {
    position: absolute;
    z-index: 999;
    color: $black;
    top: calc(100% + 8px);
    
    &::before {
      display: none;
    }
    i {
      color: $black;
      font-size: 34px;
    }
  }

  .slick-prev {
    left: 30px;
    i {
      transform: rotate(-90deg);
    }
  }
  .slick-next {
    right: 30px;
    i {
      transform: rotate(-90deg);
    }
  }
}
// SLICK
// section
section {
  padding: 30px 0;

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .section-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.85);
  }
}
// section
// form
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  border-radius: $br;
  box-shadow: $bs;  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .input-group {
    justify-content: center;
    .form-control {
      margin-bottom: 10px;
    }
  }
}
// form
// MAIN
section.main {
  background-image: url('./img/main-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 82px;
  min-height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  position: relative;
  .title-block {
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 25px;
      color: $yellow;
      font-size: 45px;
      line-height: 60px;
      font-weight: 600;
    }
    h3 {
      margin-bottom: 15px;
      color: rgba($white, .7);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .title {
      color: rgba($white, .7);
    }
  }
}
// MAIN

// ABOUT
section.about {
  h3 {
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    &::before {
      position: absolute;
      content: '';
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: $black;
    }
  }
  p {
    margin-bottom: 10px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .about-items {
    .about-item {
      text-align: center;
      label {
        font-size: 40px;
        font-family: robotoBold;
        color: $black;
      }
    }
  }
}
// ABOUT

// PRODUCT
.product {
  .title {
    color: $white;
  }
  .product-nav {
    position: relative;
    z-index: 2;
    background-color: $black;
    padding-bottom: 0;
  }
  .product-content {
    margin-top: 19px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
    border: 1px solid rgba($black, .2);
    border-radius: .25rem;
    padding: 30px;
    box-shadow: 0 0 15px 0px rgba($black, .2);
  }
  .nav-tabs {
    .nav-link {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          bottom: -20px;
          left: -2px;
          right: -2px;
          height: 20px;
          border-left: 1px solid rgba($black, .2);
          border-right: 1px solid rgba($black, .2);
          background-color: $white;
        }
      }        
    }
  }
  .slider {
    .slick-list {
      padding-bottom: 15px;
    }
    .product-slider-item {
      padding: 10px;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: 100%;
        max-width: 250px;
      }
      h4 {
        max-width: 300px;
      }
    }
  }
}
// PRODUCT