@font-face {
  font-family: robotoBlack;
  src: url(../assets/fonts/roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: robotoBlackItalic;
  src: url(../assets/fonts/roboto/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: robotoBoldItalic;
  src: url(../assets/fonts/roboto/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: robotoItalic;
  src: url(../assets/fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: robotoLight;
  src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: robotoLightItalic;
  src: url(../assets/fonts/roboto/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: robotoMedium;
  src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: robotoMediumItalic;
  src: url(../assets/fonts/roboto/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: robotoRegular;
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoThin;
  src: url(../assets/fonts/roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: robotoThinItalic;
  src: url(../assets/fonts/roboto/Roboto-ThinItalic.ttf);
}

$black: black;
$yellow:#FEF853;
$red: #FC5C5A;
$white: white;
$gray: #909090;
$yellowgreen: yellowgreen;
$blue: royalblue;

$br: .25rem;
$bs: 0 0 5px 2px rgba($black, .1);

p, label {
  font-family: robotoLight;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: robotoBold;
  font-size: 60px;
  @media (max-width: 991px) {
    font-size: 50px;
  }
}

h2 {
  font-family: robotoBold;
  font-size: 30px;
  @media (max-width: 575px) {
    font-size: 25px;
  }
}

h3 {
  font-family: robotoBold;
  font-size: 22px;
  @media (max-width: 991px) {
    font-size: 20px;
  }
  @media (max-width: 575px) {
    font-size: 18px;
  }
}

h4 {
  font-family: robotoMedium;
  font-size: 19px;
  @media (max-width: 1199px) {
    font-size: 17px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
  @media (max-width: 399px) {
    font-size: 13px;
  }
}

.hr-shadow {
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 2px solid #333;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  max-width: 50px;
  margin: 20px auto 0 auto;
}

// Loader
.loader {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, .8);
  z-index: -999;
  transition: .3s;
  opacity: 0;
  &.loader-visible {
    transition: .3s;
    opacity: 1;
    z-index: 9999;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 45px;
    height: 45px;
    margin: 2px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}
// Loader

input.form-control {
  font-family: robotoLight;
  color: $black;
  border: 2px solid $gray !important;
  padding: 25px 10px;
  font-size: 18px;
  @media (max-width: 575px) {
    font-size: 14px;
    padding: 20px 5px;    
  }
}

textarea.form-control {
  font-family: robotoLight;
  min-height: 150px;
  padding: 10px;
  font-size: 18px;
  @media (max-width: 575px) {
    font-size: 14px; 
  }
}

button.b2 {
  font-family: robotoMedium;
  padding: 17px 40px;
  border: 0;
  color: $white;
  border-radius: 3px;
  box-shadow: 0 -3px $black inset;
  transition: 0.2s;
  &:hover {
    transition: .15s;
  }
  &.call-me {
    padding: 15px 55px;
    background-color: $red;
    font-size: 20px;
    color: $white;
    transition: .2s;
    box-shadow: 0 2px 15px 0 rgba($black, .3);
    &:hover {
      color: $white;
      transition: .2s;
      box-shadow: 0 0 10px 0 rgba($black, .3);
    }
    @media (max-width: 767px) {
      padding: 15px 30px;
      font-size: 16px;
    }
  }
  @media (max-width: 991px) {
    padding: 14px 30px;
  }
  @media (max-width: 575px) {
    font-size: 14px;
    padding: 12px 20px; 
  }
  &:active {
    box-shadow: 0 3px $yellow inset;
  }
}

// NAVBAR
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: $bs;
  background-color: black;
  height: 82px;
  z-index: 999;
  transition: .3s;
  top: -82px;
  &.header-menu-open {
    transition: .3s;
    top: 0;
  }
  @media (max-width: 991px) {
    .navbar-collapse {
      background-color: black;
      padding: 20px;
    }
  }
  .navbar-brand {
    img {
      width: 100%;
      max-width: 212px;
    }
  }
  .navbar-toggler {
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    .navbar-toggler-line {
      width: 25px;
      height: .15em;
      background-color: $yellow;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .navbar-nav {
    .nav-item {
      font-family: robotoMedium;
      .nav-link {
        transition: .2s;
        color: $white;
      }
      &:hover {
        .nav-link {
          transition: .2s;
          color: rgba($white, .7)
        }
      }
    }
  }
  .navbar-contacts {
    font-family: robotoMedium;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $white;
    a {
      color: $white;
    }
    .navbar-contacts-tel {
      display: flex;
      align-items: center;
      a {
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .navbar-contacts-places {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    i {
      margin-right: 5px;
      color: $white;
      font-size: 14px;
    }
  }
  @media (min-width: 992px) {
    .navbar-toggler {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .navbar-contacts {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
// NAVBAR
// NAVTABS
.nav-tabs {
  justify-content: center;
  border-bottom: 0;
  flex-wrap: nowrap;
  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
  .nav-item {
    width: 100%;
    text-align: center;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 991px) {
    }
  }
  .nav-link {
    font-family: robotoMedium;
    font-size: 18px;
    color: $white;
    white-space: nowrap;
    @media (max-width: 991px) {
      font-size: 16px;
    }
    @media (max-width: 991px) {
      font-size: 14px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
      &::before {
        display: none;
      }
    }
  }
}
// NAVTABS
// SLICK
.slider {
  img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .slick-dots {
    li {
      &.slick-active {
        button {
          &::before {
            color: $yellow;
          }
        }
      }

      button {
        &::before {
          font-size: 10px;
          color: $black;
        }
      }
    }
  }

  .slick-btn {
    position: absolute;
    z-index: 999;
    color: $black;
    top: 50%;
    
    &::before {
      display: none;
    }
    i {
      color: $black;
      font-size: 34px;
    }
  }

  .slick-prev {
    left: 30px;
    i {
      transform: rotate(-90deg);
    }
    @media (max-width: 1199px) {
      left: 0;
    }
  }
  .slick-next {
    right: 30px;
    i {
      transform: rotate(-90deg);
    }
    @media (max-width: 1199px) {
      right: 0;
    }
  }
}
// SLICK
// section
section {
  padding: 30px 0;

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .section-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  @media (min-width: 992px) {
    padding-bottom: 0;
    .section-bg {
      background-color: rgba($black, .8);
    }
  }
}
// section
// form
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  border-radius: $br;
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .input-group {
    justify-content: center;
    .form-control {
      margin-bottom: 10px;
    }
  }
}
// form
// modal
.modal {
  .modal-header {
    display: flex;
    align-items: center;
    img {
      height: auto;
      max-width: 30px;
      margin-right: 10px;
    }
    button {
      align-self: flex-start;
    }
  }
  h5 {
    font-family: robotoMedium;
    font-size: 20px;
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
  .modal-body {
    form {
      padding: 15px;
      box-shadow: 0 0 0 0 transparent;
      @media (max-width: 575px) {
        padding: 0;
      }
    }
  }
  &.call-modal {
    button[type=submit] {
      background-color: $yellowgreen !important;
    }
  }
  &.mail-modal {
    button[type=submit] {
      background-color: $red !important;
    }
  }
}
// modal
// fixed button
.phone-btn {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  left: 50px;
  height: 70px;
  width: 70px;
  background-color: $yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: $white;
  border-radius: 100%;
  box-shadow: 0 2px 15px 0 rgba($black, .4);
  transform: rotateZ(-45deg);
  animation-name: phoneBtnAnimation;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @media (max-width: 575px) {
    left: 30px;
    bottom: 30px;
    height: 55px;
    width: 55px;
  }
  @keyframes phoneBtnAnimation{
    0% {
      box-shadow: 0 0 0 0 rgba($black, .1);
      transform: rotateZ(-45deg);
    }
    50% {
      box-shadow: 0 3px 15px 0 rgba($black, .4);
      transform: rotateZ(45deg);
    }
    100% {
      box-shadow: 0 5px 30px 0 rgba($yellowgreen, .7);
      transform: rotateZ(-45deg);
    }
  }
}
.email-btn {
  position: fixed;
  z-index: 999;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: $white;
  border-radius: 100%;
  box-shadow: 0 2px 15px 0 rgba($black, .4);
  animation-name: emailBtnAnimation;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: -2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @media (max-width: 575px) {
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;
    font-size: 18px;
  }
  @keyframes emailBtnAnimation{
    0% {
      box-shadow: 0 3px 15px 0 rgba($black, .4);
    }
    50% {
      box-shadow: 0 0 0 0 rgba($black, .1);
    }
    100% {
      box-shadow: 0 5px 30px 0 rgba(orangered, .7);
    }
  }
}
// fixed button
// MAIN
section.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 82px;
  min-height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  position: relative;
  h1 {
    text-transform: uppercase;
    margin-bottom: 25px;
    color: $yellow;
    font-weight: 600;
    @media (max-width: 991px) {
      color: $black;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
    @media (max-width: 499px) {
      font-size: 40px;
    }
  }
  h2 {
    margin-bottom: 15px;
    color: $yellow;
    font-size: 40px;
    @media (max-width: 991px) {
      color: $black;
      font-size: 30px;
    }
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 40px;
    }
    @media (max-width: 499px) {
      font-size: 25px;
    }
  }
  form {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    background-color: $black;

    .title {
      color: $yellow;
      text-transform: uppercase;
      font-size: 25px;
    }

    button {
      text-transform: uppercase;
      color: $red;
      padding: 15px 40px;
      font-size: 18px;
      background: linear-gradient(4deg, rgba(252,255,199,1) 0%, rgba(255,222,0,1) 100%);
      transition: .2s;
      box-shadow: 0 5px 25px 0 rgba($white, .2);
      &:hover {
        transition: .2s;
        box-shadow: 0 0 10px 0 rgba($white, .2);
      }
      @media (max-width: 767px) {
        padding: 15px 30px !important;
        font-size: 16px!important;
      }
    }
  }
  .no-weekends {
    font-family: robotoBold;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    background-color: $red;
    padding: 20px 0;
    width: 100%;
    color: $yellow;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (max-width: 575px) {
      max-width: 350px;
    }
  }
}
// MAIN

// ABOUT
section.about {
  overflow-x: hidden;
  h3 {
    text-align: center;
    position: relative;
    margin-top: 30px;
    font-size: 24px;
  }
  .about-txt {
    width: 100%;
    position: relative;
    p {
      text-align: center;
      max-width: 600px;
      font-size: 22px;
      margin: 0 auto;
      color: $black;
      padding: 0 15px;
    }
    &.line {
      padding: 40px;
      margin-top: 35px;
      margin-bottom: 20px;
      p, h2 {
        color: $white;
        font-family: robotoBold;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
      }
      h3 {
        margin-top: 0;
        color: $yellow;
        &::before {
          background-color: $yellow;
        }
      }
      &::before {
        position: absolute;
        content: '';
        background-color: $black;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
    @media (max-width: 767px) {
      p {
        font-size: 16px;
      }
    }
  }
}
// ABOUT

// PRODUCT
.product {
  .title {
    color: $white;
  }
  .product-nav {
    position: relative;
    z-index: 2;
    background-color: $black;
    padding-bottom: 0;
    @media (max-width: 991px) {
      .container {
        max-width: 100%;
      }
      .product-nav-col {
        padding-left: 31px;
        padding-right: 31px;
      }
    }
  }
  .product-content {
    margin-top: 19px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
    border: 1px solid rgba($black, .2);
    border-radius: .25rem;
    padding: 30px;
    box-shadow: 0 0 15px 0px rgba($black, .2);
    @media (max-width: 767px) {
      padding: 10px;
    }
    @media (max-width: 399px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .nav-tabs {
    .nav-link {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid transparent;
      &.active {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          bottom: -20px;
          left: -2px;
          right: -2px;
          height: 20px;
          border-left: 1px solid rgba($black, .2);
          border-right: 1px solid rgba($black, .2);
          background-color: $white;
        }
        @media (max-width: 575px) {
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid $white;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          color: $yellow;
        }
      }  
      @media (max-width: 575px) {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }     
    }
  }
  .slider {
    .slick-list {
      padding-bottom: 15px;
    }
    .product-slider-item {
      padding: 10px;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: 100%;
        max-width: 250px;
        @media (max-width: 1199px) {
          max-width: 210px;
        }
        @media (max-width: 767px) {
          max-width: 170px;
        }
      }
      h4, p {
        width: 100%;
        max-width: 300px;
      }
      p {
        max-width: 400px;
      }
    }
    .slick-dots {
      @media (max-width: 767px) {
      }
    }
  }
}
// PRODUCT
// DEL
.del {
  h2 {
    margin-bottom: 30px;
  }
  p {
    font-size: 22px;
    margin-bottom: 20px;
    @media (max-width: 575px) {
      font-size: 19px;
    }
  }
}
// DEl
// send order
.send-order {
  background-color: $gray;

  h2 {
    color: $white;
  }
}
// send order
// SECONDARY FORM
.secondary-form {
  padding: 10px 0;
  form {
    padding: 0;
  }
  button {
   height: 54px!important;
   padding: 0 !important;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-color: $blue !important;
   &:hover {
    background-color: rgba($blue,.8) !important;
   }
   @media (max-width: 991px) {
     max-width: 300px;
     margin: 0 auto;
   }
   @media (max-width: 575px) {
     height: 40px;
   }
  }
}
// SECONDARY FORM
// PARTNER
.partner {
  .partner-item {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &.pivasov, &.more-beer {
      background-size: 80%;
    }
  }
  p {
    text-align: center;
    font-family: robotoBold;
    font-size: 20px;
    color: $black;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
}
// PARTNER
// FOOTER
section {
  footer {
    background-color: $black;
    h2, a, p {
      color: $white;
    }
    .contacts {
      display: flex;
      align-items: center;

      .icon {
        width: 35px;
      }

      i {
        color: $white;
        font-size: 22px;
        margin-right: 5px;
      }

      a {
        font-size: 18px;
        &:hover {
          color: $yellow;
        }
      }
    }
    @media (max-width: 767px) {
      text-align: center;
      .contacts {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: max-content;
        padding: 10px 0;
      }
    }
    @media (max-width: 575px) {
      iframe {
        height: 300px;
      }
    }
  }
}
// FOOTER